<header class = "navbar navbar-fixed-top navbar-inverse">
	<div class = "container">
		<%= link_to "UP ARISE", root_path, id: "logo" %>
		<nav>
			<ul class = "nav navbar-nav navbar-right">
			<li><%= link_to "Home", 	root_path %></li>
			<li><%= link_to "About", 	about_path %></li>
			<li><%= link_to "Members", 	members_path %></li>
			<li><%= link_to "Events", 	events_path %></li>
			<li><%= link_to "Contact", 	contact_path %></li>
			</ul>
		</nav>
	</div>
</header>
	